*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #000;
    --gray: #ffffff99;
}

@font-face {
    font-family: 'Grotesk';
    src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Grotesk', sans-serif;
    line-height: 1.8;
}

/* Light mode overrides */
body.light-mode {
    background-color: var(--white);
    color: var(--black);
  }

  /* Overlay */
  body.light-mode .overlay-menu{
    background-color: var(--white);
  }

  body.light-mode .overlay-content,
  body.light-mode .close-menu,
  body.light-mode .overlay-menu i {
    color: var(--black);
  }


  
  /* Anchor text (like nav links and others) */
  body.light-mode a,
  body.light-mode .sidebar a,
  body.light-mode .sidebar a.active,
  body.light-mode .sidebar a:hover {
    color: var(--black);
  }
  
  /* Borders */
  body.light-mode a.button,
  body.light-mode a.back-to-top,
  body.light-mode header.desktop i,
  body.light-mode .links,
  body.light-mode .built,
  body.light-mode header.mobile i,
  body.light-mode a.back-to-top-mobile,
  body.light-mode .overlay-menu i {
    border-color: var(--black);
  }
  
  /* Buttons */
  body.light-mode a.button:hover,
  body.light-mode a.back-to-top:hover,
  body.light-mode header.desktop i:hover,
  body.light-mode header.mobile i:hover,
  body.light-mode a.back-to-top-mobile:hover,
  body.light-mode .overlay-menu i:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  /* Sidebar */
  body.light-mode .sidebar {
    background-color: var(--white);
  }
  
  /* Footer links */
  body.light-mode .links a,
  body.light-mode .flex-2 a,
  body.light-mode .flex-1 h2 a {
    color: var(--black);
  }

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--white);
}


/* UTILITIES */
/* .base-btn{
    font-size: 0.9em;
    border: 1px solid var(--white);
    padding: 0.4em 1em;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.base-btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--white);
    z-index: -1;
    transition: 0.8s;
}

.clr-btn{
    background: none;
}

.clr-btn::before {
    bottom: 0;
    border-radius: 0 0 0 0;
}

.clr-btn:hover::before {
    height: 180%;
}

.clr-btn:hover{
    border: 1px solid var(--black);
    color: var(--black);
} */
/* END UTILITIES */


/* MOBILE  NAVBAR */
header.mobile{
    display: none;
}

.overlay-menu{
    display: none;
}

/* END MOBILE NAVBAR */

/* DESKTOP NAVBAR */
header.desktop{
    width: 85%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}

header.desktop i{
    border: 1px solid var(--white);
    font-size: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.1s;
}

header.desktop i:hover{
    background-color: var(--white);
    color: var(--black);
}


header.desktop img{
    width: 70px;
    cursor: pointer;
}

/* END DESKTOP NAVBAR*/



/* LAYOUT */
/* Layout section */
.layout {
display: flex;
align-items: flex-start;
margin-bottom: 6em;
width: 85%;
max-width: 1200px;
margin-top: 3em;
}

/* Sidebar: sticky within section */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    height: calc(100vh - 2rem); /* allow some bottom margin */
    background-color: var(--black);
    overflow-y: auto;
    padding: 1em;
    padding-left: 0em;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}


.sidebar li.gap {
    margin-bottom: 0.85em;
}

.sidebar a {
    font-size: 0.8750em;
    display: block;
    color: var(--gray);
    transition: all 0.1s ease;
}

.sidebar a.active{
    color: var(--white);
    text-decoration: underline 1px solid var(--black);
}

.sidebar a:hover {
color: var(--white);
}


/* Main content flows normally */
.main {
flex: 1;
padding: 2em;
padding-top: 0em;
}
/* END LAYOUT */



/* MAIN */
.page-heading{
    margin-bottom: 2em;
}

.page-heading h1{
    font-size: 2.5em;
    font-weight: 500;
    margin-top: 0em;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    margin-bottom: 6em;
}

.button-container{
    display: flex;
    gap: 1em;
    width: 80%;

}
.button-container i{
    font-size: 1.1em;
}



a.button{
    font-size: 0.9em;
    border: 1px solid var(--white);
    padding: 0.4em 1em;
    transition: all 0.1s ;
    display: flex;
    align-items: center;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.button:hover{
    background-color: var(--white);
    color: var(--black);
}


a.right{
    justify-content: right;
}

i.left{
    margin-right: 1em;
}
i.right{
    margin-left: 1em;
}
/* END MAIN */



/* FOOTER */

footer{
    width: 85%;
    max-width: 1200px;
}

footer h2{
    font-weight: normal;
    font-size: 0.86em;
}
/* first section */
.links{
    border-top: 1px solid var(--white);
    min-height: 200px;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.links li, .links ul{
    list-style-type: disc;
    word-break: break-all;
}

.links li.start{
    list-style-type: none;
}

.links ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

/* .links li{
    flex: 1 1 100%;
} */

.links a{
    text-decoration: underline;
    font-size: 0.86em;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 60%;
}
/* end first section */


/* section section */
.built{
    border-top: 1px solid var(--white);
    min-height: 200px;
    padding-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.flex-1{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.flex-1 h2 a{
    text-decoration: underline;
    cursor: pointer;
}

a.back-to-top{
    border: 1px solid var(--white);
    padding: 0.6em;
    font-size: 0.86em;
    display: block;
    width: fit-content;
}

a.back-to-top:hover{
    color: var(--black);
    background-color: var(--white);
    transition: all 0.1s ;
}

a.back-to-top-mobile{
    display: none;
}

.flex-2{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.flex-2 li, .flex-2 ul{
    list-style-type: disc;
}

.flex-2 li.start{
    list-style-type: none;
    margin-left: 0;
}

.flex-2 ul{
    display: flex;
    gap: 2em;
}

.flex-2 a{
    text-decoration: underline;
    font-size: 0.86em;
}

.flex-2-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-2-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* end second section */
/* END FOOTER */

